/* Estilos para las notificaciones de éxito */
.notification-success {
    color: #155724; /* Texto en verde oscuro */
    background-color: #d4edda; /* Fondo verde claro */
    border: 1px solid #c3e6cb; /* Borde verde claro */
    padding: 0.75rem 1.25rem; /* Espaciado interno */
    border-radius: 0.25rem; /* Bordes redondeados */
}

/* Estilos para las notificaciones de error */
.notification-error {
    color: #721c24; /* Texto en rojo oscuro */
    background-color: #f8d7da; /* Fondo rojo claro */
    border: 1px solid #f5c6cb; /* Borde rojo claro */
    padding: 0.75rem 1.25rem; /* Espaciado interno */
    border-radius: 0.25rem; /* Bordes redondeados */
}